<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Inup_CityDropdown>
            <version>0.0.1</version>
        </Inup_CityDropdown>
    </modules>
    <frontend>
        <translate>
            <modules>
                <Inchoo_SocialConnect>
                     <files>
                        <default>Inup_CityDropdown.csv</default>
                     </files>
                </Inchoo_SocialConnect>
            </modules>
        </translate>
        <routers>
            <inup_citydropdown>
                <use>standard</use>
                <args>
                    <module>Inup_CityDropdown</module>
                    <frontName>citydropdown</frontName>
                </args>
            </inup_citydropdown>
        </routers>
    </frontend>
    <global>
        <models>
            <inup_citydropdown>
                <class>Inup_CityDropdown_Model</class>
            </inup_citydropdown>
        </models>
        <helpers>
            <inup_citydropdown>
                <class>Inup_CityDropdown_Helper</class>
            </inup_citydropdown>
        </helpers>
        <resources>
            <inup_citydropdown_setup>
                <setup>
                    <module>Inup_CityDropdown</module>
                    <class>Inup_CityDropdown_Model_Resource_Setup</class>
                </setup>
            </inup_citydropdown_setup>
        </resources>
    </global>
</config>
